.search-form {
  display: flex;
  justify-content: center;
  height: 42px;
  position: relative;
}
.search-form input {
  font-size: 18px;
  width: 220px;
  padding-left: 10px;
  border-radius: 6px 0 0 6px;
  border-left-color: #4b698a;
  border-bottom-color: #4b698a;
  border-right: 0 solid;
  border-right-color: #4b698a;
  border-top-color: #4b698a;
}
.search-form__button {
  display: flex;
  align-items: center;
  padding-left: 6px;
  padding-right: 6px;
  outline: #4b698a;
  border-radius: 0 6px 6px 0;
  font-size: 24px;
  border: 2px solid rgb(9, 73, 108);
  border-left-width: 1px;
  cursor: pointer;
}

.more_button {
  display: none;
}

.more_button.isActive {
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 275px;
  padding: 12px 60px;
  background-color: #02be6e;
  color: #fff;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  &:hover,
  &:focus {
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.4));
    background-color: #0b8651;
  }
}
